<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Course Evaluation</title>

        <link rel="stylesheet" href="/stylesheets/style.css">


    </head>

    <body>
        <div id="mainBox">
            <a href="/pages/smiliePage.html"><div class="startButton">TYP 1</div></a>
            <br />
            <a href="/pages/radioPage.html"><div class="startButton">TYP 2</div></a>
            <br />
            <a href="/pages/dropdownPage.html"><div class="startButton">TYP 3</div></a>
        </div>
        <script src="/javascripts/scripts.js"></script>
    </body>
</html>