<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Tack</title>

        <link rel="stylesheet" href="/stylesheets/style.css">


    </head>

    <body>
        <div id="mainBox">
            <p id='headerText'>Tack för dina svar!</p>
            <br />
            <p id='finalTime'></p>
            <br />
            <a href="/pages/index.html"><div class="startButton">TILLBAKA</div></a>
        </div>
        <script src="/javascripts/thxScript.js"></script>
    </body>
</html>