body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #141d26;
}

#mainBox {
    width: 900px;
    height: 40px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
}

#bDone {
    text-align: center;
}

#headerText {
    font-size: 22px;
}

#disclaimerText {
    text-align: center;
}

#surveyWrapper {
    padding-bottom: 10px;
}

#time {
    font-size: 40px;
    display: none;
}

.startButton {
    margin-top: 40px;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    /* background: rgb(133, 76, 202); */
    background: #008000;
    padding: 20px 40px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.startButton:hover {
    background: #3700B3;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.row {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.question {
    float: left;
}

.question2 {
    padding-top: 20px;
    float: left;
}

.pointSystem {
    float: right;
}

.radioB {
    margin-right: 17px;
}

.radioT {
    margin-right: 17px;
    padding-left: 9px;
}


